<h1>Import Csv</h1>
<input type="file" (change)="onFileSelect($event.target)" />
<button (click)="carregarCsv()">Enviar</button>
<button (click)="limpar()">Ver PN Inconsistentes</button>
<button (click)="limpar()">Remover Nfs cadastradas</button>
<hr>
<h2>Dados Para importação</h2>
<!-- <h3>Contra Partida</h3>
<p>Cliente - </p> -->
<h3>Total: {{totalDados() | currency }}</h3>

<button (click)="validarParceiro()">Validar Fornecedor</button>
<button (click)="validarCliente()">Validar Cliente</button>
<div class="center">
    <div class="card text-center" *ngFor="let pn of currentPage">
        <div class="card-header container-fluid">
            <div class="row">
                <div class="col-md-7" (click)="pn.isCollapsed = ! pn.isCollapsed">
                  <h6 class="w-75 p-3">{{pn.cpfCnpj}} - {{pn.codSap}} - total : {{pn.getTotais() | currency}}</h6>
                </div>
                <div class="col-md-4 float-right justify-content-center align-items-center text-center align-items-center">
                    <button class="btn btn-primary ms-1" (click)="cadastrarNfEntrada(pn)"> NF Entrada </button> 
                    <button class="btn btn-primary ms-1" (click)="cadastrarNfSaida(pn)"> NF Saida </button> 
                    <button class="btn btn-primary ms-1" (click)="cadastrarAdiantamentoFornecedor(pn)"> Adiantamento Fornecedor </button> 
                    <button class="btn btn-primary ms-1" (click)="cadastrarAdiantamentoCliente(pn)"> Adiantamento Cliente </button> 
                    <button type="button" class="btn btn-info ms-1" (click)="log(pn)">Log</button>
                 </div>
              </div>         
            <span *ngIf="pn.error" (click)="showErro(pn)">{{pn.error}}</span>            
        </div>
        <div style="margin: 5px;" class="card-body" *ngFor="let nf of pn.documentosFiscais" #collapse="ngbCollapse" [(ngbCollapse)]="pn.isCollapsed">
            Nota - {{nf.numeroDocumento}} - {{nf.getTotais() | currency}}
            <div style="margin-left: 5px;" *ngFor="let parcela of nf.parcelas">
                Parcelas - R$: {{parcela.valor}} - {{parcela.dataVencimento | date: 'dd/MM/yyyy'}} 
            </div>
        </div>
    </div>
    <ngb-pagination (pageChange)="loadPage(page)" [collectionSize]="dados.length" [pageSize]="itemsPerPage" [(page)]="page" aria-label="Default pagination"></ngb-pagination>
</div>
<p><ngb-progressbar type="success" [value]="progression"></ngb-progressbar></p>
<div class="row g-3">
    <div class="col-md-6">
        <button class="btn btn-primary ms-1" (click)="cadastrarAllNfEntrada()">Importar Notas fiscais de Entrada</button>
        <button class="btn btn-primary ms-1" (click)="cadastrarAllNfSaida()">Importar Notas fiscais de Saida</button>
    </div>
    <div class="col-md-6">
        <button class="btn btn-primary ms-1" (click)="allAdiantamentoCliente()">Importar Adiantamento Cliente</button>
        <button class="btn btn-primary ms-1" (click)="allAdiantamentoFornecedor()">Importar Adiantamento Fornecedor</button>
    </div>
</div>