<div *ngIf="!isLogado">
  <form>
    <div class="row g-3">
      <div class="col-md-6">
        <label for="serviceLayer" class="form-label">Service Layer:</label>
        <input class="form-control"
          id="serviceLayer"
          [(ngModel)]="login.serviceLayer"
          name="serviceLayer"
          type="text"
          value="https://sapharovema:50000"
        />
      </div>
      <div class="col-md-6">
        <label for="CompanyDB" class="form-label">CompanyDB:</label>
        <input class="form-control"
          id="CompanyDB"
          [(ngModel)]="login.CompanyDB"
          name="CompanyDB"
          type="text"
          value="SBOHOMOLOG2612"
        />
      </div>
    </div>
    <div class="row g-3">
      <div class="col-md-6">
        <label for="UserName" class="form-label">User Name:</label>
        <input class="form-control"
          [(ngModel)]="login.UserName"
          name="UserName"
          type="text"
          value="ROVEMA"
        />
      </div>
      <div class="col-md-6">
        <label for="Password" class="form-label">Password:</label>
        <input [(ngModel)]="login.Password" name="Password" class="form-control" type="password" />
      </div>
    </div>
    <div class="col-12">
      <button (click)="sigin()" class="btn btn-primary mb-2">Sign in</button>
    </div>
  </form>
</div>
<div *ngIf="isLogado">Sign on <button (click)="logout()" class="btn btn-primary mb-2">Sign out</button></div>